footer.mw-footer {
	text-transform: lowercase;
  font-style: italic;
}

#Footer{
	font-size: 0.75em;
	color: #fff;
	text-align: center;
	@include background-image(linear-gradient(top, #741f07 0%, #6a1c06 100%));
	clear: both;

	p{
		margin: 0 auto;
		width: 150px;
	}
}

.mw-logo{
	overflow: hidden;
  	text-indent: -9999px;
	@include sprites-moovweb;
	margin: 5px auto;
}
